body {
  background-color: #4a4f56;
}

.show1 {
  padding: 15px;
  background-color: #7A7593;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: brown;
  font-size: 25px;
  margin-bottom: 25px;
}

.dim:checked + .gim {
  text-decoration: line-through;
}
.dinner {
  padding: 15px;
  font-size: 30px;
  color: #fff;
  background-color: #88839e;  
}
.dinner:nth-child(2n-1) {
  background-color: #7a7593;
}
.container {
  width: 660px;
  margin: 0 auto;
}
.show3 {
  font-size: 25px;
  text-align: center;
  color: brown;
  background-color:#625E77;
}
label span {
    font-size: 20px;
}
.dinner:hover {
    border: 2px solid white;
}